@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blogging Platform Application</h1>
    <p>Here we will define how to make a basic Blogging Platform App using ASP.NET and Visual Studio.</p>
</div>
